.order-wizzard-cover {
  width: 627px;
  padding: 77px;
  padding-bottom: 90px;
  background: #207bc8;
  color: white;
  font-family: 'Open sans';
  text-align: center;
  &__logo {
    width: 141px;
    margin: 0 auto;
    margin-bottom: 60px;
    svg {
      max-width: 100%;
      height: auto;
    }
  }
  &__info {
    margin-bottom: 72px;
    p {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 45px;
    }
  }
  &__next {
    a {
      padding: 13px 55px 12px 55px;
    }
  }
  @media (max-width: 650px) {
    max-width: 627px;
    width: auto;
  }
}