.order-wizzard {
  width: 627px;
  min-height: 618px;
  border: none;
  background: white;
  padding: 35px 20px 30px 20px;
  position: relative;
  &--login {
    min-height: auto;
  }
  &__progress {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 440px;
    margin: 0 auto;
  }
  &__controls {
    position: absolute;
    width: 587px;
    bottom: 0;
    padding-bottom: 35px;
  }
  &__step-title {
    text-align: center;
    color: #2178c4;
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__step {
    margin-bottom: 100px;
  }
  &__step-survey {
    position: relative;
  }
  &__checkbox {
    input[type="checkbox"] {
      display: none;
    }
    label {
      padding-left: 35px;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        width: 23px;
        height: 22px;
        background: url('../img/checkbox.png');
        left: 0;
      }
    }
    input[type="checkbox"]:checked ~ label:before {
      content: "";
      background: url('../img/checkboxactive.png');
    }
  }
  &__radio {
    input[type="radio"] {
      display: none;
    }
    label {
      padding-left: 35px;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        left: 0;
        border: 2px solid rgba(177, 177, 177, 0.64);
        border-radius: 50%;
      }
    }
    input[type="radio"]:checked ~ label:before {
      content: "";
      background: #2178c4;
      box-shadow: inset 0 0 0px 5px white;
      border: 2px solid #2178c4;
    }
  }
  &__radio-other {
    input[type="text"] {
      display: block;
      margin-left: 35px;
      margin-top: 5px;
      width: 60%;
    }
  }
  &__list-item {
    padding: 15px 10px;
    border-top: 1px solid #ececec;
    &:last-child {
      border-bottom: 1px solid #ececec;
    }
    input {
      margin-right: 15px;
    }
  }
  &__cta {
    padding-top: 30px;
  }
  &__file-uploading {
    margin-bottom: 30px;
  }
  &__file-name {
    background: #e9e9e9;
    padding: 15px 20px;
    border-radius: 4px;
  }
  &__text-date {
    margin-top: 20px;
    input {
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 10px;
    }
  }
  &__header {
    text-align: center;
  }
  &__title {
    text-align: center;
    color: #2178c4;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  &__sub-title {
    text-align: center;
    color: #2178c4;
    font-size: 16px;
  }
  &__login {
    text-align: center;
    padding-bottom: 40px;
    header {
      padding-top: 50px;
    }
  }
  &__login-form {
    width: 300px;
    margin: 0 auto;
    padding-top: 70px;
    &__next-step {
      padding-top: 30px;
      p {
        color: #9a9a9a;
        margin-top: 10px;
      }
    }
  }
  &__date-group {
    position: absolute;
    bottom: 12px;
    left: 85px;
    width: 100%;
  }
  @media (max-width: 650px) {
    max-width: 627px;
    width: auto;
    &__progress {
      max-width: 440px;
      width: auto;
    }
    &__controls {
      width: 450px;
      margin: 0 auto;
    }
    &__date-group {
      position: static;
      padding-top: 20px;
      span {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
  @media (max-width: 480px) {
    &__controls {
      width: 320px;
      margin: 0 auto;
    }
  }
}

.react-date-field {
  width: 120px;
  margin-right: 10px;
}

.react-date-picker__date-format-spinner {
  position: relative;
  top: 1px;
  margin-right: 10px;
  input {
    width: 100px;
  }
}

.timezone-picker-textfield {
  width: 245px;
  input {
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid gray;
  }
  .form-control {
    height: 32px;
  }
}

@media (max-width: 650px) {
  .react-date-field {
    width: auto;
    margin-right: 0;
  }

  .react-date-picker__date-format-spinner {
    position: relative;
    top: 1px;
    margin-right: 0;
    input {
      width: 100px;
    }
  }

  .timezone-picker-textfield {
    width: auto;
    input {
      padding: 8px 12px;
      border-radius: 0;
      border: 1px solid gray;
    }
    .form-control {
      height: 32px;
    }
  }
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  span {
    cursor: pointer;
  }
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}